#cpButton {              
    font-weight: bold;
    font-size: 17px;

    height: 45px !important;
    padding: 0 36px;

    background-color: #835AFD;
    color: #FFF;
    border: 2px solid #835AFD;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;

    transition: all .3s;

    &:not(:disabled):not(.dark):hover {
        border: 2px solid #835AFD;
        background-color: transparent;
        color: #835AFD;
    }

    &:disabled {
        opacity: .6;
        cursor: not-allowed;
    }

    &.outline {
        padding: 0 10px;
        border: 2px solid #835AFD !important;
        color: #835AFD !important;
        background-color: #fff !important;
        
        &:hover {
            background-color: #E73F5D !important;
            color: #fff !important;
            border: 2px solid #E73F5D !important;
        }
    }
}

.dark {
    #cpButton {
        color: #DDD !important;
        background-color: #694ac7 !important;
        border-color: #694ac7 !important;
        &:hover {
            background-color: #8257e5!important;
            border-color: #8257e5 !important;
        }
    }
}

@media (max-width: 565px) {
    #cpButton {
        padding: 0 10px;
    }  
}