#cpQuestion {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 15px;

    margin-top: 10px;

    box-shadow: 0 3px 12px 0 rgba(0.0, 0.0, 0.0, 0.05);

     
    p {
            font-size: 18px;
            color: #29292E;
    }
    
    .infoQuestion {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .name {
        display: flex;
        align-items: center;

        margin-top: 18px;

        img { 
            width: 40px;
            border-radius: 10000px;
        }

        span {
            margin-left: 15px;
            color: #4f4f50;
            font-weight: 500;
            font-size: 16px;
        }
    }
    .buttonAdmin{
        display: flex;
        gap: 12px;
    }
    button {
        background-color: transparent;
        &.buttonLike {
            display: flex;
            align-items: flex-end;
            color: #737380;
            gap: 5px;
            
            &.liked {
            color: #835afd;

                svg path {
                    stroke: #835afd;
                }
            }
            &:hover {
                color: #835afd;
    
                svg path {
                    stroke: #835afd;
                }
            }

        }

        &:hover {
            svg path, circle {
                stroke: #835afd;
            }
        }
    }
    
}
.dark .children{
    button {
        background-color: transparent!important;
    }
}

.dark #cpQuestion{
    background-color: #8b8b8b22!important;

    p {
        color: #dddd;
    }
    .name span {
        color: #dddd !important;
    }
}
.highLighted {
    border: 2px solid #835AFD;
    background-color: #F4F0FF !important;

    .info span{
        font-weight: bold !important;
    }
    .isHigh { 
        svg path {
            stroke: #6135e6;
        }
    }
}
.light {
    .answer {
    
        background-color: #DBDCDD !important;
    }
}
.answer {
    .isAnswer {
        svg path, circle {
            stroke: #835afd;
        }
    }
} 

.dark {
    .answer {
        background-color: #181818 !important;
    
        .isAnswer {
            svg path, circle {
                stroke: #835afd;
            }
        }
    } 
}